* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    text-align: center;
}
header{
    background-color: rgba(0, 0, 180, 0.514);
}
img{
    height: 500px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}