* {
    margin: 0%;
    padding: 0%;
    
}
body{
    text-align: center;
  background-image: url(./imagem/Taylor_Swift_-_Taylor_Swift.png);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}
h1{
    font-size: 300%;
}
.conteudo{
    position: relative;
    top: 30px;
    width: 500px;
    margin: auto;
    padding-bottom: 50px;
}
main{
    background-color: #03979c;
    border-radius: 20px;
    min-width: 320px;
    max-width: 700px;
    margin: auto;
    min-height: 100vh;
    box-shadow: 0 0 100px black;
}
header{
    background-color: rgb(0, 0, 0);
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: white;
    position: relative;
    top: 10px;
}
.cabeca{
    color: rgb(255, 255, 255);
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
p img {
  float: right;
  margin: 0 0 10px 15px;
  width: 170px; 
  border-radius: 10px;
}