* {
    margin: 0%;
    padding: 0%;
    
}
body{
    text-align: center;
  background-image: url(./imagem/kanye-west_MI0005472981-MN0000361014.jpeg);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}
h1{
    font-size: 300%;
}
.conteudo{
    position: relative;
    top: 30px;
    width: 600px;
    margin: auto;
    padding-bottom: 50px;
}
main{
    background-color: #3e3f3f;
    border-radius: 20px;
    min-width: 320px;
    max-width: 700px;
    margin: auto;
    min-height: 100vh;
    box-shadow: 0 0 100px black;
    padding-bottom: 50px;
}
header{
    background-color: rgb(0, 0, 0);
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: white;
    position: relative;
    top: 10px;
}
.cabeca{
    color: rgb(255, 255, 255);
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
p img {
  float: right;
  margin: 0 0 10px 15px;
  width: 170px; 
  border-radius: 10px;
  transition: 0.5s;
}
p img:hover{
    transform: scale(1.05);
}
a{
    text-decoration: none;
    color: white;
}
img{
     border-radius: 10px;
    transition: 0.5s;
}
img:hover{
    transform: scale(1.1);
}

nav{
    background-color: #000000;
}
nav li{
    display: inline-block;
}
nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 11px;
    transition: 0.3s;
}
nav li a:hover{
    background-color: blue;
}
.dropdown-menu{
    position: absolute;
    z-index: 1;
    background-color: #000000;
    box-shadow: 0 0 2px  black;
    display: none;
}
.dropdown-menu a{
    display: block;
}
.dropdown:hover .dropdown-menu{
    display: block;
}