* {
    margin: 0%;
    padding: 0%;
    
}

body{
    text-align: center;
  background: linear-gradient(135deg, #1db954, #17a34a);
  margin: 0;
  font-family: 'Poppins', sans-serif; /* fonte moderna */
  color: white;
}
main{
    background-color: #121212;
    border-radius: 20px;
    min-width: 320px;
    max-width: 700px;
    margin: auto;
     height: 100vh;
     box-shadow: 0 0 100px black;
}
header{
    background-color: rgb(54, 54, 54);
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: white;
    position: relative;
    top: 10px;
}
.cabeca{
    color: white;
}
img.kanye{
    height: 200px;
    width: auto;
    position: relative;
    left: 40px;
    top: 100px;
    box-shadow: 0 0 20px black;
    transition: 0.5s;
}
img.kanye:hover{
    transform: scale(1.2);
}
img.Taylor{
    height: 200px;
    width: auto;
    position: relative;
    left: 15px;
    top: 100px;
    box-shadow: 0 0 20px black;
    transition: 0.5s;
}
img.Taylor:hover{
    transform: scale(1.2);
}

.sub{
    color: white;
    position: relative;
    top: 30px;
}
.sub2{
    color: white;
    position: relative;
    top: 80px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

nav{
    background-color: #000000;
}
nav li{
    display: inline-block;
}
nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 11px;
    transition: 0.3s;
}
nav li a:hover{
    background-color: blue;
}
.dropdown-menu{
    position: absolute;
    z-index: 1;
    background-color: #000000;
    box-shadow: 0 0 2px  black;
    display: none;
}
.dropdown-menu a{
    display: block;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
img{
    transition: 0.5s;
}
img:hover{
    transform: scale(1.1);
}